<ng-template #modal>
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <!--begin::Modal title-->
        <h2>{{ modalConfig.modalTitle }}</h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" (click)="dismiss()"
          *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()">
          <app-keenicon name="cross" class="fs-1"></app-keenicon>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <div class="modal-body">
        <!-- <ng-content></ng-content> -->
        <app-appointment-form (closeModalAndRefreshList)="close()">

        </app-appointment-form>
      </div>
   
    </div>
  </ng-template>
  