<!-- begin::Header -->
<div class="card-header border-0 pt-5">

  <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover"
    title="Click to add a user">
    <button class="btn btn-sm btn-light-primary" (click)="openModal()">
      <app-keenicon name="plus" class="fs-3"></app-keenicon>
      Nueva Cita
    </button>
  </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
  <!-- begin::Table container -->
  <div class="table-responsive">
    <!-- begin::Table -->
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
      <!-- begin::Table head -->
      <thead>
        <tr class="fw-bolder text-muted">

          <th class="min-w-150px">Nombre Paciente</th>
          <th class="min-w-140px">Email</th>
          <th class="min-w-140px">Teléfono</th>
          <th class="min-w-120px">Dueño</th>
          <th class="min-w-120px">Fecha</th>
          <th class="min-w-120px">Síntomas</th>
          <th class="min-w-100px text-end">Actions</th>
        </tr>
      </thead>
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <tbody *ngIf="appointments">
        <tr *ngFor="let appointment of appointments | async">
          <td>
            <div class="d-flex align-items-center">

              <div class="d-flex justify-content-start flex-column">
                <span class="text-dark fw-bolder text-hover-primary fs-6">
                  {{appointment.name}}
                </span>
              </div>
            </div>
          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">
              {{appointment.email}}
            </span>
            
          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">
              {{appointment.phone}}
            </span>
            
          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">
              {{appointment.user?.name}}
            </span>

          </td>
          <td>
            <span class="text-dark fw-bolder text-hover-primary d-block fs-6">
              {{appointment.date | date: 'dd/MM/yyyy'}}

            </span>

          </td>
          <td class="text-end">
            <div class="d-flex flex-column w-100 me-2">
              <span class="text-dark fw-bolder text-hover-primary d-block fs-6">
                {{appointment.symptom}}
              </span>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-end flex-shrink-0">
             
              <span class="
                    btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    me-1
                  ">
                <app-keenicon name="pencil" class="fs-3"></app-keenicon>
              </span>
              <span class="
                    btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                  " (click)="openDeleteConfirmationModal(appointment.id)">
                <app-keenicon name="trash" class="fs-3"></app-keenicon>
              </span>
            </div>
          </td>
        </tr>

      </tbody>
      <!-- end::Table body -->
    </table>
    <!-- end::Table -->
  </div>
  <!-- end::Table container -->
  <app-modal-appointment #modal [modalConfig]="modalConfig" (updateAppointmentsList)="getAllAppointments()">
  
  </app-modal-appointment>


</div>
<!-- begin::Body -->